<%= bootstrap_form_for ([@post, @post.comments.build]), remote: :true do |form| %>
  <% if @comment && @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.hidden_field :parent_id, :value => params[:parent_id] %>

  <%= form.text_field :name, id: :comment_name %>

  <%= form.text_area :text, id: :comment_text %>

  <%= form.submit %>
  
<% end %>