 <%= bootstrap_form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.file_field :thumbnail %>

  <%= form.text_field :title, id: :post_title %>

  <%= form.file_field :images, multiple: true %>

  <%= form.text_area :description, id: :post_description %>

  <%= form.select(:meat_taste, options_for_select([1, 2, 3, 4, 5, 6, 7], :selected => @post.meat_taste )) %>

  <%= form.select(:variety_of_salads, options_for_select([1, 2, 3, 4, 5, 6, 7], :selected => @post.variety_of_salads )) %>

  <%= form.select(:spiciness, options_for_select([1, 2, 3, 4, 5, 6, 7], :selected => @post.spiciness )) %>

  <%= form.select(:satiety, options_for_select([1, 2, 3, 4, 5, 6, 7], :selected => @post.satiety )) %>

  <%= form.select(:cleanliness, options_for_select([1, 2, 3, 4, 5, 6, 7], :selected => @post.cleanliness )) %>

  <%= form.select(:service, options_for_select([1, 2, 3, 4, 5, 6, 7], :selected => @post.service )) %>

  <%= form.submit %>

<% end %>