 <%= bootstrap_form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.file_field :thumbnail %>

  <% if post.thumbnail.attached? %>
    <%= form.check_box :delete_thumbnail %>
  <% end %>

  <%= form.text_field :title, id: :post_title %>

  <%= form.file_field :images, multiple: true %>

  <%= form.text_area :description, id: :post_description %>

  <%= form.submit %>

<% end %>