<p id="notice"><%= notice %></p>

<h1>kblog</h1>

<head>
  <title>kblog</title>
</head>
<body>
  <div class="post">
    <% @posts.each do |post| %>
        <h2 class="title"><%= post.title %></h2>
        <p class="description"><%= post.description %></p>
        <div class="image"><%= link_to image_tag(post.image), post %></div>
        <div class="date">Post created <%= post.created_at.strftime("%F %H:%M") %></div>
        <br>
        <br>
    <% end %>
    HEllo! world!
  </div>
</body>
<br>