<div class="container">
</br>
	<h1 class="text-center">Kebab top overview</h1></br>
	<table class="table table-hover">
		<% @posts.each do |post| %>
		<thead class="thead-dark" data-toggle="collapse" data-target="#post-<%= post.id %>">
			<tr>
				<th><%= post.title %></th>
				<th><%= post.score %> / 7</th>
			</tr>
		</thead>
		<tbody id="post-<%= post.id %>" class="collapse font-weight-bold">
			<tr>
				<td>Meat taste: </td>
				<td><%= post.meat_taste %> / 7</td>
			</tr>
			<tr>
				<td>Variety of salads in kebab: </td>
				<td><%= post.variety_of_salads %> / 7</td>
			</tr>
			<tr>
				<td>Satiety feeling after eating: </td>
				<td><%= post.satiety %> / 7</td>
			</tr>
			<tr>
				<td>Kebab place cleanliness: </td>
				<td><%= post.cleanliness %> / 7</td>
			</tr>
			<tr>
				<td>Service rating: </td>
				<td><%= post.service %> / 7</td>
			</tr>
			<tr>
				<td>Kebab spiciness: </td>
				<td><%= post.spiciness %> / 7</td>
			</tr>
		</tbody>
		<% end %>
	</ol>
	</table>
	<p class="font-weight-bold text-danger">Last update: <%= @last_update.strftime("%F") %>
</div>