<p id="notice"><%= notice %></p>

<head>
  <title>kblog</title>
  <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
  <% if @anchor %>
  	<script type="text/javascript">
  		window.location.hash = "<%= @anchor %>";
  	</script>
  <% end %>
</head>
<body>
	<h1 class="text-center"><%= @post.title %></h1></br>
	<div class="container">
    <div class="row">
    	<div class="col-6"><%= @post.description %></div>
    		<div class="col-6">
    			<div class="row">
						<% @post.images.each do |image| %>
							<div class="col-6">
								<img class="img-fluid" <%= image_tag(image) %></img>
								<% if session[:user_id] %>
									<%= link_to "Delete", delete_image_post_url(image.id), method: :delete %>
								<% end %>
							</div>
						<% end %>
					</div>
				</div>
		</div>


		<% if session[:user_id] %>
			<button type="button" class="btn btn-dark"><%= link_to 'Edit', edit_post_path(@post) %></button>
			<button type="button" class="btn btn-dark"><%= link_to 'Delete', @post, method: :delete %></button>
		<% end %>

		<button type="button" class="btn btn-dark"><%= link_to 'Back', posts_path %></button>
	</div>
	<br>
	<div class="container">
		<h2><%= pluralize(@post.comments.count, 'Comment') %></h2>
		<br>
		<%= nested_comments @post.comments.arrange(:order => :created_at) %>
	</br>
			Add new comment</h3>
			<%= render 'comments/form' %>
	</div>
</body>

