<p id="notice"><%= notice %></p>

<head>
  <title>kblog</title>
  <link href="https://fonts.googleapis.com/css?family=Mukta" rel="stylesheet">
  <% if @anchor %>
  	<script type="text/javascript">
  		window.location.hash = "<%= @anchor %>";
  	</script>
  <% end %>
</head>

<h1 class="title"><%= @post.title %></h1>

<div class="show">
	<div class="description"><%= @post.description %></div>
	<div class="image_grid">
			<% @post.images.each do |image| %>
				<div class="thumbnail">
					<%= link_to image_tag(image), image %>
					<% if session[:user_id] %>
						<%= link_to "Delete", delete_image_post_url(image.id), method: :delete %>
					<% end %>
				</div>
			<% end %>
	</div>
</div>

<div class="action_cont">
	<% if session[:user_id] %>
		<div class="action"><%= link_to 'Edit', edit_post_path(@post) %></div>
		<div class="action"><%= link_to 'Delete', @post, method: :delete %></div>
	<% end %>

	<div class="action"><%= link_to 'Back', posts_path %></div>
</div>

<div class="comment_cont", id="comments">
	<h2 class="title"><%= pluralize(@post.comments.count, 'Comment') %></h2>

	<%= render @post.comments.reverse %>
</div>
<div class="comment_form">
	<h3 class="commenter">Add new comment</h3>
	<%= render 'comments/form' %>
</div>


